@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-mono: "Outfit", monospace;
  --font-serif: "Outfit", serif;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body, input, button, select, textarea {
  font-family: "Outfit", sans-serif;
}
